* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#pi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#pi div {
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: center;
}

#pi div p {
    width: 50%;
}

#quadrant {
    margin-top: 1rem;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    width: 150px;
    height: 150px;

    border: 1px solid black;

    overflow: hidden;

    margin-left: 150px;
}

.pointer {
    position: relative;

    width: 2px;

    border-radius: 2px;
    border: 1px solid red;

    right: 75px;
    top: 75px;
}

.second-square {
    position: relative;
    width: 150px;
    height: 150px;
    margin-left: 150px;

    top: -152px;

    z-index: 2;
}

.circle {
    position: relative;
    right: 150px;

    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 50%;
}
